registry=https://registry.registry.npmmirror.com
disturl=https://registry.npmmirror.com/dist
chromedriver_cdnurl=http://registry.npmmirror.com/chromedriver
operadriver_cdnurl=http://registry.npmmirror.com/operadriver
phantomjs_cdnurl=http://registry.npmmirror.com/phantomjs
fse_binary_host_mirror=https://registry.npmmirror.com/mirrors/fsevents
sass_binary_site=http://registry.npmmirror.com/node-sass
electron_mirror=http://registry.npmmirror.com/electron/